#file-explorer
  #toolbar
    #window-name
      %i
      File Explorer
    #min-max-close
      #min
      #max
      #close
    #ribbon
      #file
        File
      #home
        Home
      #share
        Share
      #view
    #addressbar
      #actions
        #back
        #next
        #history
        #up
      %input{
        :type=>'url',
      }
      %input{
        :type=>'search'
      }
  #view
    #sidebar
      %ul
        %li
          %span.group
            Quick access
          %ul

            %li.current
              %i.
            %li



